Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
include/Makefile
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/hellolib.lo
src/hellolib.o
src/libhello.la
src/print.lo
src/print.o
src/testhello
src/testhello.o
